<canvas id="cursor" width="640" height="480"></canvas>
<canvas id="tutorial" width="640" height="480"></canvas>
<div id="color-list">
    <ul>
        <li id="red"></li>
        <li id="green"></li>
        <li id="yellow"></li>
        <li id="black"></li>
    </ul>
</div>